# Since the MQTTCommonOperations file is the same for all microcontrollers,
# The only instance of this file is located in all-sensors.
# If a file of the same name is found elsewhere, it will be ignored by git
# Read the README for further explan
MQTTCommonOperations.*
!all-microcontrollers/MQTTCommonOperations.*

# Since the SpecificConstants file is the same for A specific microcontroller,
# The only instance of this file is directly located in folder.
# If a file of the same name is found elsewhere, it will be ignored by git
# Read the README for further explanation
# For example, the constants for esp32 controller is the same for both:
# - only_esp32_sending_constants_over_mqtt.ino file
# - rami1_esp32_AD8232_ecg.ino file
# So, we set the SpecificConstants.hpp/.cpp file directly in esp32-mqtt folder.
# Elsewhere, we delete it ! That is the same reasoning for each controller folder
SpecificConstants.*
!esp32-mqtt/SpecificConstants.*
!lora-mqtt/SpecificConstants.*