@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --vt-c-white: hsla(0, 0%, 100%, 1);
    --vt-c-light-background: hsla(0, 0%, 98%, 1);
    --vt-c-light-primary: hsla(31, 85%, 85%, 1);
    --vt-c-light-secondary: hsla(123, 47%, 36%, 1);

    --vt-c-light-primary-hover: hsla(31, 85%, 45%, 1);
    --vt-c-light-secondary-hover: hsla(123, 47%, 25%, 1);

    --vt-c-light-shadow: hsla(0, 0%, 0%, 0.5);
    --vt-c-light-danger: hsla(0, 100%, 50%, 1);


    --vt-c-black: hsla(0, 0%, 0%, 1);
    --vt-c-dark-background: hsla(0, 0%, 10%, 1);
    --vt-c-dark-primary: hsla(0, 0%, 20%, 1);
    --vt-c-dark-secondary: hsl(38, 93%, 55%, 1);

    --vt-c-dark-primary-hover: hsla(0, 0%, 44%, 1);
    --vt-c-dark-secondary-hover: hsla(38, 93%, 35%, 1);

    --vt-c-dark-shadow: hsla(0, 0%, 50%, 0.5);
    --vt-c-dark-danger: hsla(0, 100%, 50%, 1);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-light-background);
    --color-primary: var(--vt-c-light-primary);
    --color-secondary: var(--vt-c-light-secondary);

    --color-primary-hover: var(--vt-c-light-primary-hover);
    --color-secondary-hover: var(--vt-c-light-secondary-hover);

    --color-shadow: var(--vt-c-light-shadow);
    --color-danger: var(--vt-c-light-danger);

    --color-text: var(--vt-c-black);
    --color-text-second: var(--vt-c-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-dark-background);
        --color-primary: var(--vt-c-dark-primary);
        --color-secondary: var(--vt-c-dark-secondary);

        --color-primary-hover: var(--vt-c-dark-primary-hover);
        --color-secondary-hover: var(--vt-c-dark-secondary-hover);

        --color-shadow: var(--vt-c-dark-shadow);
        --color-danger: var(--vt-c-dark-danger);

        --color-text: var(--vt-c-white);
        --color-text-second: var(--vt-c-black);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
