@import './base.css';

#app {
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

button {
    background-color: var(--color-secondary);
    color: var(--color-text-second);
    padding: 1.5vh 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 125%;
    margin: 2vh 0;
    font-family: 'EB Garamond', serif;

}

button:hover {
    background-color: var(--color-secondary-hover);
    color: var(--color-text-second);
    padding: 1.5vh 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 125%;
    margin: 2vh 0;
    font-family: 'EB Garamond', serif;
}


@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

/* Variables for fonts and font sizes */
:root {
    --font-family-base: 'Arial, sans-serif';
    --font-size-base: 16px;
    --font-size-large: 1.2em;
  }
  
  /* Global font styles */
  body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-base);
    color: #333;
  }
  
  p, .user-detail {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: #333;
  }
  
  .user-detail {
    font-size: var(--font-size-large);
  }
